:root {
  /* ---------- neutrals & surfaces ---------- */

  --clr-neutral-50: hsl(0 0% 100%); /* #FFFFFF */
  --clr-neutral-100: hsl(210 20% 98%); /* #F9FAFB */
  --clr-neutral-150: hsl(220 13% 91%); /* #E5E7EB */
  --clr-neutral-200: hsl(210 14% 83.1%); /* #CED4DA */
  --clr-neutral-300: hsl(236 10.1% 70.8%); /* #ADAEBC */
  --clr-neutral-400: hsl(218 10.6% 64.9%); /* #9CA3AF */
  --clr-neutral-600: hsl(220 8.9% 46.1%); /* #6B7280 */
  --clr-neutral-700: hsl(215 13.8% 34.1%); /* #4B5563 */
  --clr-neutral-800: hsl(217 19.1% 26.7%); /* #374151 */
  --clr-neutral-900: hsl(221 39.3% 11%); /* #111827 */

  /* ---------- primary (blue) ---------- */
  --clr-primary-100: hsl(214, 95%, 93%); /* #DBEAFE */
  --clr-primary-100: hsl(221, 100%, 70%); /* #2563EB */
  --clr-primary-500: hsl(221, 83%, 53%); /* #2563EB */
  --clr-primary-700: hsl(226 70.7% 40.2%); /* #1E40AF */
  --clr-primary-gradient: linear-gradient(
    135deg,
    var(--clr-primary-500),
    var(--clr-primary-700)
  );

  /* ---------- semantic accents ---------- */
  --clr-success: hsl(143 64.2% 24.1%); /* #166534 */
  --clr-success-100: hsl(141 84.2% 92.5%); /* #DCFCE7 */
  --clr-danger: hsl(0 84.2% 60.2%); /* #EF4444 */

  /* ---------- convenience aliases ---------- */
  --clr-bg: var(--clr-neutral-100); /* page background (light) */
  --clr-bg-header: var(--clr-neutral-50); /* header background (light) */
  --grad-bg-hero: var(--clr-blue-gradient); /* hero background */
  --clr-txt-primary: var(--clr-neutral-700); /* primary link color */
  --clr-accent: var(--clr-blue-500); /* active link color */

  --w-max: 1280px;
  --space-2xl: 5rem; /* 80px */
  --space-xl: 3rem; /* 48px */
  --space-lg: 2rem; /* 32px */
  --space-md: 1.5rem; /* 24px */
  --space-sm: 1rem; /* 16px */
  --space-xs: 0.75rem; /* 12px */

  --spacing-block: var(--space-md);
  --spacing-block-xl: var(--space-lg);
  --spacing-content: var(--space-sm);

  --radius-sm: 0.5rem;
}

body {
  background-color: var(--bg);
  font-family: var(--ff-primary), sans-serif;
  color: var(--clr-neutral-700);
}

header {
  background-color: var(--bg-header);
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-neutral-900);
  font-weight: var(--fw-700);
}

p,
span {
  line-height: 1.5;
  text-wrap: pretty;
}

input {
  &[type='search'],
  &[type='text'],
  &[type='email'] {
    height: 3rem;
    &:focus-visible,
    &:focus-within {
      outline: none;
    }
  }
}

label {
  &:has(input[type='search']) {
    cursor: text;
    margin: auto;
    max-width: 28rem;
    gap: 1rem;

    input {
      flex-grow: 2;
    }

    &:has(input[type='search']:focus-within) {
      outline: 2px solid var(--clr-neutral-50);
      outline-offset: 2px;
    }
  }
}

/* COMPOSITIONS (i.e. flex,grid layout) */
.grid {
  display: grid;
  gap: var(--spacing-block);
}

/* UTILITIES (text, spacings, colors, columns etc..) */

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-a-center {
  align-items: center;
}

.flex-j-center {
  justify-content: center;
}

/* select every direct children (> * ), expect the first one (+ * ) same as > :not(:first-child) */
.flow > * + * {
  margin-top: var(--spacing-block);
}

/* dimensions */

/** colors */
.bg-gradient-primary {
  background: var(--clr-primary-gradient);
}

.bg-neutral-50 {
  background-color: var(--clr-neutral-50);
}

.clr-neutral-50 {
  color: var(--clr-neutral-50);
}

.clr-neutral-300 {
  color: var(--clr-neutral-300);
}

.clr-neutral-400 {
  color: var(--clr-neutral-400);
}

.clr-neutral-900 {
  color: var(--clr-neutral-900);
}

.clr-primary-100 {
  color: var(--clr-primary-100);
}

/** spacings */
.mx-auto {
  margin-inline: auto;
}

.my-xl {
  margin-block: var(--spacing-block-xl);
}

.my-t-xs {
  margin-block-start: var(--space-xs);
}

.px-sm {
  padding-inline: var(--space-sm);
}

.py-lg {
  padding-block: var(--space-lg);
}

.py-2xl {
  padding-block: var(--space-2xl);
}

.py-xs {
  padding-block: var(--space-xs);
}

/* borders */
.border-radius-sm {
  border-radius: var(--radius-sm);
}

.border-none {
  border: none;
}

/* EXCEPTIONS (varation/deviations) */

/* BLOCKS (base components) */
.wrapper {
  max-width: var(--w-max);
  margin-inline: auto;
  padding-inline: var(--spacing-content);
}

.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 0rem;
  margin: calc(-1 / 16 * 1rem);
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 0rem;
}

/* RESPONSIVE */
@media (min-width: 64rem) {
  :root {
    --spacing-block: var(--space-lg);
    --spacing-block-xl: var(--space-xl);
  }

  .grid-col-span-2 {
    grid-column: span 2;
  }

  .grid-temp-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
