:root {
  /* ---------- neutrals & surfaces ---------- */

  --clr-neutral-50: hsl(0 0% 100%); /* #FFFFFF */
  --clr-neutral-100: hsl(210 20% 98%); /* #F9FAFB */
  --clr-neutral-150: hsl(220 13% 91%); /* #E5E7EB */
  --clr-neutral-200: hsl(210 14% 83.1%); /* #CED4DA */
  --clr-neutral-300: hsl(236 10.1% 70.8%); /* #ADAEBC */
  --clr-neutral-400: hsl(218 10.6% 64.9%); /* #9CA3AF */
  --clr-neutral-600: hsl(220 8.9% 46.1%); /* #6B7280 */
  --clr-neutral-700: hsl(215 13.8% 34.1%); /* #4B5563 */
  --clr-neutral-800: hsl(217 19.1% 26.7%); /* #374151 */
  --clr-neutral-900: hsl(221 39.3% 11%); /* #111827 */

  /* ---------- primary (blue) ---------- */
  --clr-primary-100: hsl(214, 95%, 93%); /* #DBEAFE */
  --clr-primary-100: hsl(221, 100%, 70%); /* #2563EB */
  --clr-primary-500: hsl(221, 83%, 53%); /* #2563EB */
  --clr-primary-700: hsl(226 70.7% 40.2%); /* #1E40AF */
  --clr-primary-gradient: linear-gradient(
    135deg,
    var(--clr-primary-500),
    var(--clr-primary-700)
  );

  /* ---------- semantic accents ---------- */
  --clr-success-100: hsl(141 84.2% 92.5%); /* #DCFCE7 */
  --clr-success-500: hsl(143 64.2% 24.1%); /* #166534 */
  --clr-danger: hsl(0 84.2% 60.2%); /* #EF4444 */

  /* ---------- convenience aliases ---------- */
  --bg-clr-primary: var(--clr-neutral-100); /* page background (light) */
  --bg-clr-secondary: var(--clr-neutral-50); /* header background (light) */
  --bg--gradient-hero: var(--clr-primary-gradient); /* hero background */
  --clr-txt-primary: var(--clr-neutral-700); /* primary link color */
  --clr-accent: var(--clr-primary-500); /* active link color */

  --w-max: 1280px;
  --space-2xl: 5rem; /* 80px */
  --space-xl: 3rem; /* 48px */
  --space-lg: 2rem; /* 32px */
  --space-md: 1.5rem; /* 24px */
  --space-sm: 1rem; /* 16px */
  --space-xs: 0.75rem; /* 12px */
  --space-2xs: 0.5rem; /* 8px */

  --spacing-block: var(--space-md);
  --spacing-block-xl: var(--space-lg);
  --spacing-content-x: var(--space-sm);
  --spacing-content-y: var(--space-md);

  --radius-sm: 0.5rem;

  --line-height-h-1: var(--lh-md); /* for h1 */
  --line-height-h-2: var(--lh-sm); /* for h2 */
  --line-height-h-3: var(--lh-xs); /* for h3 */
  --line-height-h-4: var(--lh-xs); /* for h4 */
}

body {
  background-color: var(--bg-clr-primary);
  color: var(--clr-neutral-700);
  font-family: var(--ff-primary), sans-serif;
  font-size: var(--text-sm);
}

header {
  background-color: var(--bg-clr-secondary);
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-neutral-900);
  font-weight: var(--fw-700);
}

p,
span {
  line-height: 1.5;
}

input {
  &[type='search'],
  &[type='text'],
  &[type='email'] {
    height: 3rem;
    &:focus-visible,
    &:focus-within {
      outline: none;
    }
  }
}

label {
  &:has(input[type='search']) {
    cursor: text;
    margin: auto;
    max-width: 28rem;
    gap: var(--space-sm);

    input {
      flex-grow: 2;
    }

    &:has(input[type='search']:focus-within) {
      outline: 0.18rem solid var(--clr-neutral-50);
      outline-offset: 0.18rem;
    }
  }
}

a {
  &:hover,
  &:active {
    color: var(--clr-primary-500);
  }

  &:focus-visible,
  &:focus-within {
    border-radius: 0.08rem;
    color: var(--clr-primary-500);
    outline: 0.18rem solid var(--clr-primary-500);
    outline-offset: 0.18rem;
  }
}

/* COMPOSITIONS (i.e. flex,grid layout) */
.grid {
  display: grid;
  gap: var(--spacing-block);
}

.wrapper {
  max-width: var(--w-max);
  margin-inline: auto;
  padding-inline: var(--spacing-content-x);
}

/* UTILITIES (text, spacings, colors, columns etc..) */

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-a-center {
  align-items: center;
}

.flex-j-center {
  justify-content: center;
}

/* dimensions */
.height-256 {
  height: 16rem;
}

/** colors */
.bg-blue-primary {
  background-color: var(--clr-primary-500);
}

.bg-gradient-primary {
  background: var(--bg--gradient-hero);
}

.bg-neutral-50 {
  background-color: var(--clr-neutral-50);
}

.bg-neutral-700 {
  background-color: var(--clr-neutral-900);
}

.clr-neutral-50 {
  color: var(--clr-neutral-50);
}

.clr-neutral-300 {
  color: var(--clr-neutral-300);
}

.clr-neutral-400 {
  color: var(--clr-neutral-400);
}

.clr-neutral-600 {
  color: var(--clr-neutral-600);
}

.clr-neutral-900 {
  color: var(--clr-neutral-900);
}

.clr-primary-100 {
  color: var(--clr-primary-100);
}

.clr-danger {
  color: var(--clr-danger);
}

/** spacings */
.mx-auto {
  margin-inline: auto;
}

.my-xl {
  margin-block: var(--spacing-block-xl);
}

.my-b-sm {
  margin-block-end: var(--space-sm);
}
.my-t-sm {
  margin-block-start: var(--space-sm);
}

.my-t-xs {
  margin-block-start: var(--space-xs);
}

.my-b-xs {
  margin-block-end: var(--space-xs);
}

.no-my-t {
  margin-block-start: 0;
}

.px-sm {
  padding-inline: var(--space-sm);
}

.py-lg {
  padding-block: var(--space-lg);
}

.py-2xl {
  padding-block: var(--space-2xl);
}

.py-sm {
  padding-block: var(--space-sm);
}

.py-xs {
  padding-block: var(--space-xs);
}

.p-content {
  padding: var(--space-md);
}

.cover-fit {
  object-fit: cover;
}

/* typography */
.line-height-h-1 {
  line-height: var(--line-height-h-1);
}

.line-height-h-2 {
  line-height: var(--line-height-h-2);
}

/* borders */
.border-radius-sm {
  border-radius: var(--radius-sm);
}

.border-none {
  border: none;
}

.border-t-sm {
  border-top: 0.06rem solid var(--clr-neutral-800);
}

.no-outline {
  outline: none;
}

/* shadows */
.shadow-bottom {
  box-shadow: 0 0.24rem 0.36rem -0.06rem rgb(0 0 0 / 0.1),
    0 0.12rem 0.24rem -0.12rem rgb(0 0 0 / 0.1);
}

.grid-temp-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gap-sm {
  gap: var(--space-sm);
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

/* EXCEPTIONS (varation/deviations) */

/* BLOCKS (base components) */

.page-header {
  box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.25);
  padding-block: 0.6rem;
  position: sticky;
  top: 0;

  .wrapper:not([role='list']) {
    align-items: center;
    display: grid;
    gap: 0 var(--space-sm);
    grid-auto-flow: column;
    grid-template-columns: max-content auto max-content;
    grid-template-areas: 'brand navigation sub';

    .brand {
      grid-area: brand;
      justify-self: start;
      text-decoration: none;

      &:hover {
        color: var(--clr-primary-500);
      }

      &:active {
        color: var(--clr-primary-100);
      }
    }

    .btn-sub {
      align-items: center;
      border: none;
      border-radius: 0.36rem;
      display: flex;
      gap: 0.5rem;
      grid-area: sub;
      justify-self: end;
      justify-content: center;
      height: 2.4rem;
      padding-inline: var(--space-xs);

      &:focus-visible,
      &:focus-within {
        outline: 0.18rem solid var(--clr-primary-100);
        outline-offset: 0.18rem;
      }

      &:active {
        background-color: var(--clr-primary-100);
      }
    }

    .nav-toggler {
      display: none;
    }

    .nav-wrapper {
      grid-area: navigation;

      .navigation-main {
        width: 100%;

        > [role='list'] {
          align-items: center;
          display: flex;
          gap: var(--space-lg);
          justify-content: center;

          li {
            margin: var(--space-xs);
            a {
              padding: var(--space-2xs);
              &[data-state='current'] {
                color: var(--clr-accent);
              }
            }
          }
        }
      }
    } /* nav wrapper end */
  }
}

.featured-article {
  padding-block-end: var(--space-md);
  overflow: hidden;

  img {
    height: 50%;
    object-fit: cover;
  }

  header,
  div,
  footer {
    padding-inline: var(--space-md);
  }

  header {
    margin-block-start: var(--space-md);

    a {
      border-radius: 9999px;
      padding: calc(5 / 16 * 1rem) 0.7rem;
      text-decoration: none;
      margin-inline-end: var(--space-sm);

      &:hover {
        opacity: 0.8;
      }

      &:active,
      &:focus-visible,
      &:focus-within {
        outline-offset: 0.18rem;
      }

      &[title^='Web'] {
        background-color: var(--clr-primary-100);
        color: var(--clr-primary-700);
      }

      &[title^='Acc'] {
        background-color: var(--clr-success-100);
        color: var(--clr-success-500);

        &:active,
        &:focus-visible,
        &:focus-within {
          outline-color: var(--clr-success-500);
        }
      }
    }
  }

  footer {
    align-items: center;
    display: flex;
    justify-content: space-between;

    figure {
      display: flex;
      align-items: center;
      gap: var(--space-xs);

      figcaption {
        display: flex;
        flex-direction: column;
      }
    }
  }

  > * + * {
    margin-block-start: var(--space-sm);
  }
}

.pagination {
  nav ul {
    display: flex;
    gap: var(--space-xs);
    justify-content: center;
    list-style: none;
    padding: 0;

    li a {
      border-radius: var(--radius-sm);
      color: var(--clr-neutral-800);
      padding: var(--space-xs);

      &:hover,
      &:active,
      &:focus {
        background-color: var(--clr-primary-100);
        color: var(--clr-neutral-50);
      }

      &[data-state='inactive'] {
        color: var(--clr-neutral-400);

        &:hover,
        &:active,
        &:focus {
          color: var(--clr-neutral-50);
        }
      }

      &[data-state='current'] {
        background-color: var(--clr-primary-500);
        color: var(--clr-neutral-50);

        &:hover,
        &:active,
        &:focus {
          background-color: var(--clr-primary-100);
        }
      }
    }
  }
}

.sidebar {
  nav {
    ul li {
      margin-block-end: var(--space-xs);
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  h2 {
    font-size: var(--text-md);
    margin-block-end: var(--space-sm);
  }

  .newsletter {
    form {
      input[type='email'] {
        border: none;
        padding-inline-start: var(--space-xs);
        width: 100%;

        &:focus-visible,
        &:focus-within {
          outline: 2px solid var(--clr-neutral-50);
          outline-offset: 2px;
        }
      }

      button {
        border: none;
        color: var(--clr-primary-500);
        outline: none;
        padding-block: var(--space-xs);
        width: 100%;

        &:hover {
          background-color: var();
        }

        &:focus-visible,
        &:focus-within {
          outline: 2px solid var(--clr-neutral-50);
          outline-offset: 2px;
        }
      }

      > * {
        margin-block-end: var(--space-xs);
      }
    }
  }

  .popular-articles {
    [role='list'] {
      li {
        a {
          display: flex;
          gap: var(--space-xs);
          text-decoration: none;
        }
      }

      > * + * {
        margin-block-start: var(--space-sm);
      }
    }
  }

  > * {
    margin-block-end: var(--spacing-block);
  }
}

.page-footer {
  .wrapper {
    display: grid;
    gap: var(--space-lg);

    hr {
      border-color: var(--clr-neutral-800);
    }
  }

  [role='list'] {
    li {
      margin-block-end: var(--space-xs);
    }
  }
}

/* select every direct children (> * ), expect the first one (+ * ) same as > :not(:first-child) */
.flow > * + * {
  margin-top: var(--spacing-block);
}

.flow-content > * + * {
  margin-top: var(--spacing-content-y);
}

.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 0rem;
  margin: calc(-1 / 16 * 1rem);
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 0rem;
}

/* RESPONSIVE */

/* mobile navigation max 900px*/
@media only screen and (max-width: 54rem) {
  .page-header {
    .wrapper:not([role='list']) {
      grid-template-columns: max-content auto max-content max-content;
      grid-template-areas:
        'brand . sub toggler'
        'navigation navigation navigation navigation';

      .nav-toggler {
        align-items: center;
        border-radius: 0.25rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        justify-self: end;
        grid-area: toggler;
        margin-inline-end: 0.63rem;
        overflow: hidden;
        padding: 0.25rem;

        width: 2.38rem;

        span:first-of-type {
          &:before {
            content: 'Open ';
          }
        }

        .bar {
          display: block;
          width: 1.88rem;
          height: 0.25rem;
          background-color: var(--clr-neutral-900);
          border-radius: 9999px;
          margin-block-end: 0.25rem;
          margin-inline: auto;
          position: relative;
          transform-origin: top center;
          transition: transform 200ms ease-in-out;

          &:last-of-type {
            margin-block-end: 0;
          }
        }

        &:has(
            > .nav-toggler-box:focus-visible,
            > .nav-toggler-box:focus-within
          ) {
          outline: 0.18rem solid var(--clr-primary-500);

          .bar {
            background-color: var(--clr-primary-500);
          }
        }

        /* open navigation when check box is checked */
        &:has(> .nav-toggler-box:checked) {
          + .nav-wrapper {
            .navigation-main {
              opacity: 1;
              transform: rotateX(0) translateX(-0.63rem);
              visibility: visible;
            }
          }

          .bar {
            &:first-of-type {
              transform: rotate(45deg);
              top: 0.5rem;
            }

            &:nth-of-type(2) {
              transform: translateX(3rem);
            }

            &:last-of-type {
              bottom: 0.5rem;
              right: 0.18rem;
              transform: rotate(-45deg);
            }
          }
        }
      }

      .nav-wrapper {
        .navigation-main {
          background-color: var(--clr-neutral-50);
          height: 100vh;
          left: 0.63rem;
          opacity: 0.3;
          overflow: hidden;
          position: absolute;
          padding: 0.63rem;
          top: calc(100% - 0.25rem);
          transform: translateX(-0.63rem);
          transform: rotateX(-90deg) translateX(-0.63rem);
          transform-origin: top center;
          transition: 350ms all ease-in-out;
          visibility: hidden;

          > [role='list'] {
            display: unset;

            > * + * {
              margin-block-start: var(--space-md);
              margin-inline: 0;
            }

            li {
              a {
                display: block;
                padding-block: var(--space-sm);
                text-align: center;
                text-transform: uppercase;
                width: 100%;
              }
            }
          }
        }
      } /* nav wrapper end */
    }
  }
}

/* 768px */
@media only screen and (min-width: 48rem) {
  .sidebar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'sub sub' 'cat pop';
    gap: var(--spacing-content-x);

    nav {
      grid-area: cat;
    }

    .newsletter {
      grid-area: sub;
    }

    .popular-articles {
      grid-area: pop;

      [role='list'] {
        li {
          display: block;
          width: 100%;
        }

        > * + * {
          margin-block-start: var(--space-sm);
        }
      }
    }
  }

  .page-footer {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
    }

    hr {
      grid-column: span 2;
    }
  }
}

/* 1024px */

@media only screen and (min-width: 64rem) {
  :root {
    --spacing-block: var(--space-lg);
    --spacing-block-xl: var(--space-xl);
    --spacing-content-x: var(--space-lg);
    --spacing-content-y: var(--space-lg);

    --line-height-h-1: var(--lh-xl); /* for h1 */
    --line-height-h-2: var(--lh-lg); /* for h2 */
    --line-height-h-3: var(--lh-md); /* for h3 */
    --line-height-h-4: var(--lh-sm); /* for h4 */
  }

  .grid-col-span-2 {
    grid-column: span 2;
  }

  .grid-temp-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .sidebar {
    display: block;
  }

  .page-footer {
    .wrapper:not(:last-of-type) {
      grid-template-columns: repeat(4, 1fr);
    }

    hr {
      grid-column: span 4;
    }
  }
}
