@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-VariableFont_opsz_wght.ttf')
    format('truetype');
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
  font-display: swap;
}

:root {
  /* FONT FAMILIES */
  --ff-primary: 'Inter';

  /* FONT SIZES */
  --text-xs: 0.88rem; /* 14px */
  --text-sm: 1rem; /* 16px */
  --text-md: 1.13rem; /* 18px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.5rem; /* 24px */
  --text-2xl: 1.88rem; /* 30px */
  --text-3xl: 2.25rem; /* 36px */
  --text-4xl: 2.5rem; /* 40px */

  /* FONT WEIGTHS */
  --fw-100: 100; /* Thin */
  --fw-200: 200; /* Extra Light */
  --fw-300: 300; /* Light */
  --fw-400: 400; /* Regular */
  --fw-500: 500; /* Medium */
  --fw-600: 600; /* Semi Bold */
  --fw-700: 700; /* Bold */
  --fw-800: 800; /* Extra Bold */
  --fw-900: 900; /* Black */

  /* LINE HEIGHTS */
  --lh-xl: 2.5; /* 40px */
  --lh-lg: 2.25; /* 36px */
  --lh-md: 1.75; /* 28px */
  --lh-sm: 1.5; /* 24px */
}

.font-700 {
  font-weight: var(--fw-700);
}

.font-500 {
  font-weight: var(--fw-500);
}

.font-400 {
  font-weight: var(--fw-400);
}

.line-height-xl {
  line-height: var(--lh-lg);
}

.line-height-lg {
  line-height: var(--lh-md);
}

.line-height-md {
  line-height: var(--lh-smm);
}

.line-height-sm {
  line-height: var(--lh-sm);
}

.text-4xl {
  font-size: var(--text-4xl);
}

.text-3xl {
  font-size: var(--text-3xl);
}

.text-2xl {
  font-size: var(--text-2xl);
}

.text-xl {
  font-size: var(--text-xl);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-center {
  text-align: center;
}

/* RESPONSIVE */
@media (min-width: 64rem) {
  .line-height-xl {
    line-height: var(--lh-xl);
  }

  .line-height-lg {
    line-height: var(--lh-lg);
  }

  .line-height-md {
    line-height: var(--lh-md);
  }

  .line-height-sm {
    line-height: var(--lh-sm);
  }
}
